= will_paginate @recipes

- @recipes.each do |r|
  .row
    .col-xs-2.text-center
      %section.chef_info.center
        = link_to gravatar_for(r.chef, size:100), chef_path(r.chef)
        %p= link_to r.chef.chefname, chef_path(r.chef)

    .col-sm-6.col-xs-12.well
      %h4= link_to r.name, recipe_path(r)
      %p= r.summary
      - if r.styles.any?
        %p Styles: #{render r.styles}
      - if r.ingredients.any?
        %p Ingredients: #{render r.ingredients}
      = render 'recipes/likes', recipe: r
      %p
        %span.quiet
          %small 
            Updated #{time_ago_in_words(r.updated_at)} ago, 
            created #{time_ago_in_words(r.created_at)} ago
          
    .col-sm-4= image_tag(r.picture.url, size: '250x150', class: 'gravatar') if r.picture?
  %hr

= will_paginate @recipes