= render 'shared/page_title', title: @recipe.name, link: { name: 'Edit', dst: edit_recipe_path(@recipe) }
.row
  .col-md-4.pull-right.center
    = gravatar_for @recipe.chef, size:200
    %p
      %h5 Brought to you by: #{@recipe.chef.chefname}
  
  .col-md-8
    %h3= @recipe.summary
    .show_recipe= image_tag(@recipe.picture.url, class: 'gravatar') if @recipe.picture?
    .well
      %p
        %strong Steps:
      = simple_format @recipe.description

%h5= link_to 'Return to Recipies Listing', recipes_path, class: 'btn btn-warning btn-small'