= render |
  'shared/page_title', |
  title: render('shared/header_link', name: 'Recipies', dst: recipes_path) + @recipe.name + ' ' + |
  (logged_in? && current_user.admin ? link_to('Delete', @recipe, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?'}) : ''), |
  link: logged_in? && (@recipe.chef == current_user || current_user.admin) ? { name: 'Edit', dst: edit_recipe_path(@recipe) } : nil

.row
  .col-md-4.pull-right.center
    = link_to gravatar_for(@recipe.chef, size:200), chef_path(@recipe.chef)
    %p
      %h5 Brought to you by #{link_to @recipe.chef.chefname, chef_path(@recipe.chef)}
  
  .col-md-8
    %h3= @recipe.summary
    .pull-right
      - if @recipe.styles.any?
        %h4 Styles #{render @recipe.styles}
      - if @recipe.ingredients.any?
        %h4 Ingredients #{render @recipe.ingredients}
    .show_recipe= image_tag(@recipe.picture.url, class: 'gravatar') if @recipe.picture?
    .well
      = render 'likes', recipe: @recipe
      %p
        %strong Steps:
      = simple_format @recipe.description